langchain==0.0.352
langchain_chroma==0.1.1
langchain_community==0.0.6
sentence-transformers==2.7.0
PyPDF2==3.0.1
pymupdf==1.24.4
pdfplumber==0.11.0
python-dotenv==1.0.0
unstructured==0.15.0
streamlit==1.33.0